@charset "UTF-8";
body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1)
}
div#interface {
    width: 1000px;
    background-color: white;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
 
}
 p {
     text-align:justify;
     text-indent: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 h2{
     font: 200;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
     }

header#fotocabecalho img#foto-legenda{
    position: absolute;
    left: 800px;
    top: 40px;

}
     /* image style */
     figure.foto-legenda{
         position: relative;
         border: 1px solid white;
         box-shadow: 1px 1px 4px black;
     }
     figure.foto-legenda img{
         width: 100%;
         height: 100%;
     }

     figure.foto-legenda figCaption{
         opacity: 0;
         position: absolute;
         top:0px;
         background-color: rgba(0, 0, 0,.4);
         color: white;
         width: 100%;
         height: 100%;
         padding: 10px;
         box-sizing: border-box;
         transition: 1s;
     } 
     figure.foto-legenda:hover figCaption {
         opacity: 1;
     }
    
/*formataão do Menu*/

    nav#menu{
        display: block;
    }

    nav#menu ul{
        list-style: none;
        text-transform: uppercase; 
        position: absolute;
        top: -10px;
        left: 400px;

    }
    nav#menu li{
        font: 200;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        background-color: darkgray;
        padding: 10px;
        margin: 2px;
        transition: background-color 1s;
    }
    nav#menu li:hover{
        background-color: dimgrey;
    }

    nav#menu h1{
        display: none;
    }

    nav#menu a{
        columns: #000000;
        text-decoration: none;
    }
    nav#menu a:hover {
        color:white;
        text-decoration: underline;  

    }